<div class="container">
<header class = "jumbotron">
<h2 id="title">Welcome to Blog</h2>
</header>

<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</nav>


  {{outlet}}
</div>
